[project]
	description = the soviet mind game
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexander Pateenok (alex-pat)
[access "refs/for/refs/*"]
	read = group user/Alexander Pateenok (alex-pat)
	push = group user/Alexander Pateenok (alex-pat)
	label-Code-Review = -2..+2 group user/Alexander Pateenok (alex-pat)
	label-Verified = -1..+1 group user/Alexander Pateenok (alex-pat)
	rebase = group user/Alexander Pateenok (alex-pat)
	removeReviewer = group user/Alexander Pateenok (alex-pat)
	submit = group user/Alexander Pateenok (alex-pat)
[access "refs/heads/*"]
	read = group user/Alexander Pateenok (alex-pat)
	create = group user/Alexander Pateenok (alex-pat)
	push = +force group user/Alexander Pateenok (alex-pat)
	pushMerge = group user/Alexander Pateenok (alex-pat)
	label-Code-Review = -2..+2 group user/UlyanaKiklevich
	label-Code-Review = -2..+2 group user/valik711
[access "refs/tags/*"]
	push = +force group user/Alexander Pateenok (alex-pat)
	pushTag = group user/Alexander Pateenok (alex-pat)
	pushSignedTag = group user/Alexander Pateenok (alex-pat)
